<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Tech Blog</title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>

    <body>
        <header class="row justify-between align-center">
            <div class="row">
                <a href="/">
                    <h3>Tech Blog</h3>
                </a>
                <a href="/">Home</a>
                {{#if user}}
                    <a href="/dashboard" style="text-align: left">Dashboard</a>
                {{/if}}
            </div>
            <nav class="row align-center">
                {{#if user}}
                    <p>Welcome, {{user.email}}</p>
                    <a href="/post">Post a Blog</a>
                    <a href="/auth/logout">Log Out</a>
                {{else}}
                    <a href="/register">Register</a>
                    <span>or</span>
                    <a href="/login">Login</a>
                {{/if}}
            </nav>
        </header>

        {{{body}}}
    </body>

</html>