<h1 class="text-center">The MotherBoard</h1>

<section class="column align-center post-output">
  {{#each posts}}

    <div class="post">
      <a href="/postView/{{id}}">
        <h1 class="text-center title">{{title}}</h1>
      </a>
      <div class="row justify-between">
        <p>{{date}}</p>
        <p>By: {{author.email}}</p>
      </div>
    </div>
  {{/each}}
</section>