<h1 class="text-center">The MotherMessageBoard</h1>

<section class="column align-center post-output">
    {{#each posts}}
        <div class="post">
            <h3 class="text-center">{{text}}</h3>
            <div class="row justify-between">
                <p>{{date}}</p>
                <p>By: {{author.email}}</p>
            </div>
        </div>
    {{/each}}
</section>