<form action="/post" method="POST">
    <h1>How are you keeping on?</h1>

    {{#each errors}}
        <p class="error text-center">{{this}}</p>
    {{/each}}

    <input type="text" name="text" placeholder="Write your message" />
    <button>Submit</button>
</form>